
@page "/pay/{PaymentEventID?}"
<div class="loader-content">

    <div style="height:180px;">
        @*<img src="images/icons8-mobile-payment-58.png" class="img-fluid" />*@
        @*<img src="images/success-payment.gif" class="img-fluid" height="400" width="400" alt="Responsive image" />*@
        <div class="alert alert-success" role="alert" style="text-align: center;line-height: 40px;">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg><strong>Payment Received!!</strong>
            @*<p>You will receive a notification on your apple pass <i class="fas fa-mobile-alt"></i> shortly ..</p>*@
            @if (!string.IsNullOrEmpty(PaymentEventID))
            {

                <p>Payment Transaction ID : @PaymentEventID</p>
            }
            else
            {
                <p>Payment Transaction ID : @DateTime.Now.ToString("yyyyMMddHHmmss")</p>

            }


        </div>
    </div>



</div>

@code {
    [Parameter]
    public string? PaymentEventID { get; set; }
}